.style__logTitle--3GREt {
  font-size: 16px;
  color: #9b9b9b;
  font-weight: bold;
  padding: 10px 5px; }

.style__logInfo--2nX_o {
  word-break: break-all;
  font-size: 15px; }
  .style__logInfo--2nX_o > .style__logIndex--1jS57 {
    padding: 2px 5px; }
  .style__logInfo--2nX_o .style__logToggle--3ON0o {
    cursor: pointer;
    position: relative;
    top: 2px;
    padding-right: 5px; }
  .style__logInfo--2nX_o > .style__operator--9N2jT {
    padding-right: 5px;
    font-weight: bold; }
  .style__logInfo--2nX_o > .style__logExtra--2oM1C {
    color: #868686;
    font-style: italic; }
  .style__logInfo--2nX_o > .style__logTime--1gHQO {
    padding-left: 5px;
    padding-right: 5px; }
  .style__logInfo--2nX_o > .style__operationName--8MwQ4 {
    padding-right: 5px; }
  .style__logInfo--2nX_o > .style__objectName--3gW8D {
    font-weight: bold;
    padding-right: 5px; }
  .style__logInfo--2nX_o > .style__comment--2KYtn {
    color: #868686;
    padding: 5px 32px; }

.style__logAttr--1qFFx {
  margin: 5px 32px;
  padding: 5px 15px;
  background-color: #f7f7f7; }
  .style__logAttr--1qFFx .style__attrArea--1Vuq3 {
    font-size: 14px; }
    .style__logAttr--1qFFx .style__attrArea--1Vuq3 .style__diffTextArea--2Bguu {
      display: flex; }
      .style__logAttr--1qFFx .style__attrArea--1Vuq3 .style__diffTextArea--2Bguu > .style__attributeName--1tvxv {
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px; }
    .style__logAttr--1qFFx .style__attrArea--1Vuq3 .style__diff--3844Q {
      margin-top: 5px; }
    .style__logAttr--1qFFx .style__attrArea--1Vuq3 .style__changePart--dEfaM {
      display: flex; }
      .style__logAttr--1qFFx .style__attrArea--1Vuq3 .style__changePart--dEfaM .style__lineNumber--1SbfL {
        color: #9b9b9b;
        padding: 2px 5px;
        border-right: 1px solid #cccccc; }
      .style__logAttr--1qFFx .style__attrArea--1Vuq3 .style__changePart--dEfaM .style__changeText--1QHs0 {
        color: #404040;
        padding: 2px 2px; }
      .style__logAttr--1qFFx .style__attrArea--1Vuq3 .style__changePart--dEfaM .style__lineDel--3HzHv {
        background-color: #fbe9eb; }
      .style__logAttr--1qFFx .style__attrArea--1Vuq3 .style__changePart--dEfaM .style__lineAdd--3JxRG {
        background-color: #ecfdf0; }
  .style__logAttr--1qFFx .style__attachmentContent--2TovJ {
    padding: 2px 15px; }
    .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__logFileWrapper--2BWIY {
      display: flex; }
      .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__logFileWrapper--2BWIY .style__fileListWrapper--3ozKE {
        padding: 2px 5px; }
        .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__logFileWrapper--2BWIY .style__fileListWrapper--3ozKE > .style__content--1qhCf .style__attachmentWrapper--2n_yQ > .style__fileItem--XSZpd, .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__logFileWrapper--2BWIY .style__fileListWrapper--3ozKE > .style__content--1qhCf .style__attachmentWrapper--2n_yQ > .style__file--7vCs8 {
          cursor: pointer; }
          .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__logFileWrapper--2BWIY .style__fileListWrapper--3ozKE > .style__content--1qhCf .style__attachmentWrapper--2n_yQ > .style__fileItem--XSZpd .style__fileIcon--3HD8Q, .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__logFileWrapper--2BWIY .style__fileListWrapper--3ozKE > .style__content--1qhCf .style__attachmentWrapper--2n_yQ > .style__file--7vCs8 .style__fileIcon--3HD8Q {
            position: relative;
            top: 2px; }
        .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__logFileWrapper--2BWIY .style__fileListWrapper--3ozKE > .style__content--1qhCf .style__attachmentWrapper--2n_yQ .style__attachment--3Omjt {
          display: flex;
          flex-direction: column; }
          .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__logFileWrapper--2BWIY .style__fileListWrapper--3ozKE > .style__content--1qhCf .style__attachmentWrapper--2n_yQ .style__attachment--3Omjt > .style__img--HYLVe {
            width: 70px;
            height: 70px; }
          .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__logFileWrapper--2BWIY .style__fileListWrapper--3ozKE > .style__content--1qhCf .style__attachmentWrapper--2n_yQ .style__attachment--3Omjt > .style__imgTitle--1U-E- {
            width: 70px;
            text-align: center; }
    .style__logAttr--1qFFx .style__attachmentContent--2TovJ .style__fileTitle--2UesT {
      color: #868686; }

.style__modalMask--19m2H {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px black; }
  .style__modalMask--19m2H > .style__modal--2gjyi {
    position: relative;
    z-index: 1100;
    background-clip: padding-box;
    width: 100%;
    height: 100%; }
    .style__modalMask--19m2H > .style__modal--2gjyi > img {
      position: relative;
      top: 100px;
      max-width: 500px;
      max-height: 500px; }
    .style__modalMask--19m2H > .style__modal--2gjyi > .style__closeModal--3BAjt {
      position: fixed;
      cursor: pointer;
      color: white;
      font-weight: bold;
      top: 20px;
      right: 30px;
      font-size: 20px; }
